@use '../utils/variables' as *;
@use '../base/topography' as *;

@mixin learn-more-button() {
  padding: 1rem;
  width: 9rem;

  font-weight: $fw-500;

  background-color: $clr-neutral-almost-black;
  color: $clr-neutral-almost-white;

  border: 0.1rem solid $clr-neutral-almost-black;
  border-radius: 0.8rem;

  cursor: pointer;

  &:focus,
  &:hover {
    background-color: $clr-neutral-almost-white;
    color: $clr-neutral-almost-black;
  }
}
