// Colors

// Neutral

$clr-neutral-almost-white: hsl(0, 0%, 98%);
$clr-neutral-medium-gray: hsl(0, 0%, 41%);
$clr-neutral-almost-black: hsl(0, 0%, 8%);

// Topography

// Font Family

$ff-epilogue: 'Epilogue', sans-serif;

// Font Sizes

$fs-base: 1.1rem;

// Font Weights

$fw-500: 500;
$fw-700: 700;

// Letter Spacing

$ls-1px: 1px;
$ls-2px: 2px;

// Line Heights

$lh-101: 1.1;

// Screen

// Weights

$max-width-body: 1440px;
$min-width-body: 375px;

// Heights

$min-height-screen: 100dvh;

// Displays

$gap-base: 0.5rem;
$gap-neutral: 1rem;
$gap-normal: 1.5rem;
$gap-mid: 2rem;
$gap-mid-high: 2.5rem;
