@use '../utils/variables' as *;
@use '../base/topography' as *;
@use '../components/learn-more' as *;

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $gap-mid-high;
  flex: 1;

  margin: 1rem;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gap-mid-high;

    flex: 1;
  }

  &__heading {
    @include font-heading1-bold;
  }

  &__description {
    @include font-description-mid;
    max-width: 80%;
  }

  &__button {
    @include learn-more-button;
  }

  &__partners {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: $gap-mid;

    img {
      width: 15%;
    }
  }
}

@media screen and (max-width: 850px) {
  .article {
    text-align: center;

    &__heading {
      font-size: 3rem;
    }

    &__description {
      justify-content: center;
      max-width: none;
    }

    &__button {
      margin-inline: auto;
    }

    &__partners {
      align-items: center;
      justify-content: center;
    }
  }
}
