@use '../utils/variables' as *;

.feed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gap-mid-high;

  height: 100%;

  max-width: 1200px;

  margin-block: 1rem;

  margin-inline: auto;
}

@media screen and (max-width: 850px) {
  .feed {
    display: flex;
    flex-direction: column-reverse;
  }
}
