@use '../utils/variables' as *;
@use '../components/nav-item' as *;

.header {
  display: flex;
  align-items: center;
  gap: $gap-normal;

  padding-block: 1.3rem;
  padding-inline: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: $gap-mid-high;

  margin-left: auto;

  width: 90%;

  &__list {
    display: flex;
    align-items: center;
    gap: $gap-mid-high;

    padding-left: 0;

    list-style-type: none;
  }

  &__item {
    @include nav-item;
  }

  &__item--border {
    @include nav-item-border;
  }
}

@media screen and (max-width: 850px) {
  .header {
    width: 100%;
    justify-content: space-between;
  }
  .menu-wrapper {
    width: auto;
    cursor: pointer;
  }
  .nav {
    display: none;
  }
}
